<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<!-- Database connection settings MSSQL-->
<!--
<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
<property name="connection.url">jdbc:sqlserver://127.0.0.1:1433;databaseName=AIA;instanceName=SQLEXPRESS;</property>
<property name="hibernate.connection.username">sa</property>
<property name="hibernate.connection.password">Password@</property>
<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
-->

  <!-- Database connection settings MSSQL End-->
 <!-- Database connection settings MY-SQL-->

<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/aiadata</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password"></property>

 <!-- Database connection settings MY-SQL End-->

<property name="connection.pool_size">1</property>
<property name="hibernate.jdbc.batch_size">50</property>

<!-- Enable Hibernate's automatic session context management -->
<property name="current_session_context_class">thread</property>
<!-- Echo all executed SQL to stdout -->
<property name="show_sql">true</property>
<!-- Drop and re-create the database schema on startup -->
<property name="hbm2ddl.auto">update</property>
<mapping class="com.aia.model.HKAchieveGold" />
<mapping class="com.aia.model.HKAchieveSilver" />
<mapping class="com.aia.model.HKAchievePlatinum" />
<mapping class="com.aia.model.HKEngagementReminder1" />
<mapping class="com.aia.model.HKEngagementReminder2" />
<mapping class="com.aia.model.HKEngagementReminder3" />
<mapping class="com.aia.model.DataFile" />
<mapping class="com.aia.model.FTP" />
<mapping class="com.aia.model.Eloqua" />
<mapping class="com.aia.model.CustomObjectId" />
<mapping class="com.aia.model.CustomFieldId" />
</session-factory>	 
</hibernate-configuration>
